$orange-color: #ff6d00

.page
    > .list, .static-page
        border-color: $orange-color

        &:before
            border-color: $orange-color
            
    > .post-tags
        color: $orange-color
        font-weight: bold

.page > .list > .item > .post-tags > .item
    color: $orange-color
  
.post
    > .post-media
        color: $gama
        font-style: italic

    > .post-tags
        > .item
            background: none
            color: $orange-color
            font-size: 1em
            font-weight: bold
            padding: 2px 4px

.footer-main
    border-color: $orange-color

    &:before
        border-color: $orange-color
