---
layout: default
---
{% include header.html %}
{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}" />
{% endif %}
<h1 class="title">{{ page.title }}</h1>
<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %}
        -
        {% include read-time.html %}
    {% endif %}
</span>
{% if site.show-tags %}
    <div class="tag-list">
        {% for tag in page.tags %}<a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>{% endfor %}
    </div>
{% endif %}
{% if page.media %}
    <p class="headnote">
        {% if page.category == 'fait-a-sant-feliu' %}
            Aquesta entrada ha estat publicada com <a href="{{ page.media-link }}">article al diari {{ page.media }}</a> el {{ page.media-date }}
        {% else %}
            This post has been published as <a href="{{ page.media-link }}">article in {{ page.media }}</a> in {{ page.media-date }}
        {% endif %}
    </p>
{% endif %}
{% if page.headnote %}<p class="headnote">{{ page.headnote }}</p>{% endif %}
{{ content }}
{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">« {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}<a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} »</a>{% endif %}
    </div>
{% endif %}
{% if site.related %}
    {% include related.html %}
{% endif %}
{% if site.show-author %}
    {% include author.html %}
{% endif %}
{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
{% if page.mathjax %}
    {% include mathjax.html %}
{% endif %}
{% include footer.html %}
