$fontSans: "Lato"
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #aaa
$beta: #ededed
$gama: #999
$delta: #9300ff
$epsilon: #222
$omega: #000
$zeta: #ededed
$kappa: #1e2d24
$link: #8ab4f8

$thin-font: 400

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
